<!DOCTYPE html>
<html lang="en" , xmlns:th="http://www.thymeleave.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
<!--/*@thymesVar id="user" type="java.lang.string"*/-->
<h2 th:text="'Hello, ' + ${user} + '!'"></h2>
</body>
</html>